<div class="container detail" *ngIf="project">
    <div class="no-image" *ngIf="!project.image">
        <span>NO IMAGEN</span>
    </div>
    <div class="image" *ngIf="project.image">
        <img src="{{url+'get-image/'+project.image}}" alt="">
    </div>
    <hr>
    <h1>{{project.name}}</h1>
    <h3 *ngIf="project.langs">
        <strong>Lenguaje:  </strong>{{project.langs}}</h3>
    <h4>
        {{project.category}}</h4>
    <p>{{project.description}}</p>
    <p>
        <a [routerLink]="['/editar-proyecto', project._id]" class="button-edit">Editar</a>
        <a (click)="deleteProject(project._id)" class="button-delete">Borrar</a>
    </p>
</div>