<div class="container">
    <h2>Projectos</h2>

    <ul class="projects">
        <li *ngFor="let project of projects" class="project">
            <div class="image" *ngIf="project.image">
                <img src="{{url+'get-image/'+project.image}}" alt="">
            </div>
            <div class="no-image" *ngIf="!project.image">
                <span>NO IMAGEN</span>
            </div>
            <div class="project-info">
                <h3>{{project.name}}</h3>
                <p>{{project.langs}}</p>
            </div>
        </li>
        <div class="clearfix"></div>
    </ul>
</div>