<div class="container">
    <h2>Projectos</h2>

    <div class="projects">
        <mat-card *ngFor="let project of projects" class="project" [@flyInOut]="showProject">
            <a [routerLink]="[ project._id]">
                <div class="image" *ngIf="project.image">
                    <img mat-card-image src="{{url+'get-image/'+project.image}}" alt="">
                </div>
                <div class="no-image" *ngIf="!project.image">
                    <span>NO IMAGEN</span>
                </div>
                <mat-card-content class="project-info">
                    <h3>{{project.name}}</h3>
                    <p>{{project.langs}}</p>
                </mat-card-content>
            </a>
        </mat-card>
        <div class="clearfix"></div>
    </div>
</div>